<tr>
    <td><a href="{{ path('Projects.show',{id: project.id,slug: project.getslug}) }}" class="btn btn-primary btn-sm" >{{project.id}}</a></td>
    <td>{{project.code}}</td>
    <td>{{project.dateentree|date("m/d/Y")}}</td>
    <td>{{project.dateDelai|date("m/d/Y")}}</td>
    <td>{{project.type}}</td>
    <td>{{project.description | nl2br}}</td>

</tr>
