<tr>
    <td>{{project.id}}</td>
    <td>{{project.code}}</td>
    <td>{{project.dateentree|date("m/d/Y")}}</td>
    <td>{{project.dateDelai|date("m/d/Y")}}</td>
    <td>{{project.type}}</td>
    <td>{{project.description | nl2br}}</td>
</tr>
