{% extends "base.html.twig" %}

{% block title %}
    Projects
{% endblock %}

{% block body %}
    
    <div class="container border mb-2 p-2">
        <h1>Bienvenu sur la page Projects</h1>
    </div>

        <div class="row">
            <div class="col-3" >
                <div class="container border pt-3">
                    <h2>Recherche</h2>
                    {{form_start(form)}}
                    <div class="form-row row">

                        {{form_row(form.TypeProjet)}}
                        {{ form_rest(form) }}
                        {{form_end(form)}}
                        <button class="btn btn-primary" type="submit">Soumettre</button>
                        <a class="btn btn-info" href="{{ path('Projects.index') }}"> Reset</a>
                    </div>




                </div>
            </div>
            <div class="col" >
                <div class="container mt-2">


                    <table class="table table-hover table-striped">
                        <tr>
                            <th>Id</th>
                            <th>Code {{ knp_pagination_sortable(projects, '', 'p.code') }}</th>
                            <th>Client {{ knp_pagination_sortable(projects, '', 'c.name') }}</th>
                            <th>Date Entree</th>
                            <th>Delai</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>


                        {% for project in projects %}
                            {% include "projects/_projects.html.twig" %}

                        {% else %}
                            <tr>
                                <td colspan="6">Aucun record</td>
                            </tr>

                        {% endfor %}




                    </table>

                    <div class="container">
                        <h4>Pagination <span class="count">{{ projects.getTotalItemCount }}</span></h4>
                        <div class="navigation">
                            {{ knp_pagination_render(projects) }}
                        </div>
                    </div>

                </div>

            </div>
        </div>




{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        //$('select').select2();
    </script>
{% endblock %}