{% extends "base.html.twig" %}

{% block title %}
    project
{% endblock %}
{% block body %}

    <div class="container">
        
        <div class="row">
            <a href="{{ path('admin.Projects.edit' , {'id':projet.id}) }}">edit</a>
        </div>
        <div class="row">
            <div class="col-md-8 border">
                <h1>page projet</h1>
                <p>
                {{ projet.description }}
                </p>
                <p>
                {{ projet.description | nl2br }}
                </p>
            </div>
            <div class="col-md-4 border">
                <h2>
                    {{projet.code}}
                    {{ dump(projet.clients) }}
                    {{ dump(projet.clients.name ?? "null") }}
                    {{ dump(projet.clients) }}
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Heure Project</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>temps</td>
                    <td>Actions</td>
                </tr>

            </thead>
            {% for heure_projet in heureprojects %}
                <tr>
                    <td>{{ heure_projet.id }}</td>
                    <td>{{ heure_projet.duree }}</td>
                    <td>

                            <a href="{{ path('heure_projet_show',{'id': heure_projet.id}) }}" class="btn btn-sm btn-dark" style="display: inline-block">{{ heure_projet.id }} </a>
                            <div style="display: inline-block">
                                {{ include('heure_projet/_delete_form.html.twig') }}
                            </div>



                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No Records</td>
                </tr>
            {% endfor %}
            <tfooter>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <a href="{{ path('heure_projet_new') }}" class="btn btn-outline-secondary">new</a>

                    </td>
                </tr>
            </tfooter>
        </table>

    </div>
{% endblock %}