{% extends "base.html.twig" %}

{% block body %}
    {{ dump(app.flashes) }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container border">
        <h1>bienvenu sur la home page</h1>
    </div>
    <div class="container">
        <h2>Derniers Projets</h2>
    </div>
    {# <pre>
        {{ dump(projects) }}
    </pre> #}
    <div class="container ">
        <div class="row">
            {% for projet in projects %}
        <div class="col">
            <div class="card border p-3" >
                <h5 class="card-title" >
                    <a href="{{ path('Projects.show', {id: projet.id, slug: projet.slug }) }}">{{ projet.code }}</a>
                </h5>
                <p class="card-text">
                    {{ projet.type }}
                </p>
            </div>
        </div>
        {% endfor %}

        </div>
        
    </div>
    <div class="container">
        <h2>User:</h2>
        {% if app.user %}
            {{ dump(app.user) }}

        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="...">Delete</a>
        {% else %}
            <p>pas d'access admin</p>
        {% endif %}
    </div>
{% endblock %}
