{% extends "base.html.twig" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit {{project.id}}</h1>
        
        {{form_start(form)}}
            <div class="row">
                <div class="col-md-4">
                    {{form_row(form.code)}}
                </div>
                <div class="col-md-8">
                    {{form_row(form.DateDelai)}}
                </div>
            </div>
            <div class="row">
                {{form_label(form.DateEntree,'name ok',{ 'attr': {'class': 'border'},  })}}
            </div>
            <div class="row">
                {{form_widget(form)}}
            </div>
            
            <button type="submit" class="btn btn-secondary">Valider</button>
        {{form_end(form)}}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}